<ul class="list-inline moods">
  <li ng-repeat="mood in moods">
    <i ng-class="moodClass(mood)"
       data-drag="true"
       data-mood="{{ mood }}"
       jqyoui-draggable
       data-jqyoui-options="{cursor: 'move', revert: 'valid', helper: 'clone'}"></i>
  </li>
</ul>

<div ui-calendar="uiConfig.calendar"
     ng-model="reportSources"
     calendar="NicoNicoCalendar">
</div>
