<ul class="list-inline moods">
  <li ng-repeat="mood in moods">
    <i ng-class="moodClass(mood)"
       data-drag="true"
       jqyoui-draggable
       data-jqyoui-options="{revert: 'valid', helper: 'clone'}"></i>
  </li>
</ul>

<div ui-calendar="uiConfig.calendar"
     ng-model="eventSources"
     calendar="NicoNicoCalendar">
</div>
