<!DOCTYPE html>
<html>
<head>
  <title>Nicocal</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="nicocal">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <span class="navbar-brand">NicoNicoCalendar</span>
    </div>
  </nav>

  <div class="container" ng-controller="ReportsCtrl">
    <%= yield %>
  </div>
</body>
</html>
